.appStyle {
    color: white;
    text-align: center;
    font-size: 24px;
    background-color: grey;
    padding: 12px;
}

.newElement {
    color: white;
    text-align: center;
    font-size: 18px;
}

.addButton {
    text-align: center;
    font-size: 20px;
    background-color: green;
}

.removeButton {
    text-align: center;
    font-size: 20px;
    background-color: yellow;
}

.clearButton {
    text-align: center;
    font-size: 20px;
    background-color: red;
}

background-color: grey;
padding: 12px;